
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Shabbir First Automation Suite TestNg" parallel="classes" thread-count="0" verbose="10">

    <parameter name="emailID" value="khanshabb111@gmail.com"></parameter>
    <parameter name="password" value="Agustina2426"></parameter>

    <test name="Michigan Test" >

        <classes>

            <class name="com.shabbir.aprilhw.pageObject.LogInPageTest" />
            <class name="com.shabbir.aprilhw.pageObject.HomePageTest" />
            <class name="com.shabbir.aprilhw.pageObject.ShippingInfoTest" />
           <class name="com.shabbir.aprilhw.pageObject.CheckOutTest" />


        </classes>

    </test>

</suite>